/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

.jumbotron {
  text-align: center;
  background-color: white;
}

#order-button {
  margin-top: 8px;
  margin-left: 1300px;
  float: right;
}

#pizza-img {
  height: 400px;
  width: 600px;
  margin-left: 250px;
}

.row {
  margin-left: 150px;
}

.add-to-order-button {
  margin-top: 10px;
  margin-bottom: 15px;
}
